<template>
    <div>
        <h1>รายการของแต่ละคนไข้ {{ id }}</h1>
    </div>
</template>
<script>
export default {
    data() {
      return {
        id: this.$route.params.id
      }
    },
  mounted() {
    
  }
};
</script>