<template>
    <div>
        <h1>รายการคนไข้</h1>
    <pre>{{  patients }}</pre>
    </div>
   
</template>
<script>
export default {
    data() {
        return {
            patients: []
        };
    },
    mounted() {
        this.patientRequestData()
    },
    methods: {
        patientRequestData() {
            const config = {
                baseURL: 'http://localhost:4200'
            };

            this.$axios.get('get_or_register_form', config)
                .then(response => {
                    // Handle response
                    console.log(response.data);
                    this.patients = response.data;
                })
                .catch(error => {
                    // Handle error
                    console.error(error);
                });
        },
    }
}
</script>